{% include 'header.twig' %}

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mr-auto" href="">
        Hello, admin!
    </span>
    <a class="navbar-brand mr-auto" href="dashboard.php">
        Inventory
    </a>
    <a class="navbar-brand mr-auto" href="logs.php">
        Logs
    </a>
    <a class="navbar-brand mr-auto" href="logout.php">
        Log out
    </a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Event</th>
                    <th>Timestamp</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.user_id }}</td>
                        <td>{{ log.event }}</td>
                        <td>{{ log.time_created }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
